 <style>
    body{
        display:block !important;
        background-color: white  !important;
    }
    #logout{
        margin-top:25px;
        cursor: pointer;
    }
 </style>
 <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Hot Reels</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        {{!-- <button class="no-button" id="logout">logout</button> --}}
        <i class="fa fa-sign-out fa-xl" id="logout"></i>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>

 <section>
        <div class="banner">
            <div class="text-container">
                <h1>Good morning, {{User.name}}</h1>
                <h4>It's a beautiful day to go fishing. Good luck out there!</h4>
            </div>
            <div class="image-container">
                <img src="/images/fisherman.png">
            </div>
        </div>
    </section>
    <section>
        <h4 class="section-title">All Time</h4>
        <div class="widget-container">
            <div class="widget">
                <div class="widget-icon">
                    <div class="icon-container">
                        <img src="/images/fish (4).png">
                    </div>
                </div>
                <div class="widget-text">
                    <h4 class="total-caught">Total Caught: 103 </h4>
                    <p>The total amount of fish caught.</p>
                </div>
            </div>
            <!-- test -->
            <div class="widget">
                <div class="widget-icon">
                    <div class="icon-container">
                        <img src="/images/ruler (2).png">
                    </div>
                </div>
                <div class="widget-text">
                    <h4 class="average-length">Average Length: 14 </h4>
                    <p>The average length, in inches, of all fish caught.</p>
                </div>
            </div>

            <div class="widget">
                <div class="widget-icon">
                    <div class="icon-container">
                        <img src="/images/food-scale.png">
                    </div>
                </div>
                <div class="widget-text">
                    <h4 class="average-length">Average Weight: 8 </h4>
                    <p>The average weight, in pounds, of all fish caught.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h4 class="section-title">Catch History</h4>
        <div class="data-container">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Species</th>
                            <th>Date</th>
                            <th>Length</th>
                            <th>Weight</th>
                            <th>Lat</th>
                            <th>Lng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if Catches.length}}
                        {{#each Catches as | catch |}}
                        <tr class="catch-data">
                            <td>{{catch.species}}</td>
                            <td>{{catch.date_created}}</td>
                            <td>{{catch.length}}</td>
                            <td>{{catch.weight}}</td>
                            <td>{{catch.lat}}</td>
                            <td>{{catch.lng}}</td>
                            <td><span class="delete-btn">&#10006;</span></td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            {{!-- </div>
            <div class="google-maps-container">
            <div id="map" onload="initialize()"></div>
            <div id="latlong">
                <p>Latitude: <input size="20" type="text" id="latbox" name="lat"></p>
                <p>Longitude: <input size="20" type="text" id="lngbox" name="lng"></p>
            </div> --}}
        </div>
        </div>
    </section>
    <div class="button-container">
        <button type="button" class="add-btn btn btn-primary" id="modal-btn" data-bs-toggle="modal" data-bs-target="#myModal">
            <img src="./images/plus (3).png">
        </button>
    </div>
    <!-- Modal -->
    {{!-- <div class="modal fade " id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
    
                <div class="modal-body">
                    <form action="">
                        <label for ="fish-select">Enter the species:</label>
                        <input type="text" name="fish" id="fish-input">

                        <label for="date">Enter the date: </label>
                        <input type="date" id="date">
                
                        <label for ="fish-length">Enter the length:</label>
                        <input type="number" id="fish-length">
    
                        <label for ="fish-weight">Enter the weight: </label>
                        <input type="number" id="fish-weight">

                        <label for ="fish-location">Enter the location:</label>
                        <input type="text" id="fish-location">
                        <input type="submit" id="submit">
                    </form>
                </div>
                <div class="modal-footer"></div>
    
            </div>
        </div>
    </div> --}}
    <div class="overlay" id="overlay">
        <div class="modal-dialog">
            <div class="modal-content">

                    <div class="modal-header">
                        <span id="close-btn">&#10006;</span>
                    </div>
                    <h4 class="modal-title">Share a Catch</h4>
                    <div class="modal-body">
                        <form action="">
                            <label for ="fish-select">Enter the species:</label>
                            <input type="text" name="fish" id="fish-input">
    
                            <label for="date">Enter the date: </label>
                            <input type="date" id="date" placeholder="">
                    
                            <label for ="fish-length">Enter the length:</label>
                            <input type="number" id="fish-length">
        
                            <label for ="fish-weight">Enter the weight: </label>
                            <input type="number" id="fish-weight">
    
                            {{!-- <label for ="fish-location">Enter the location:</label>
                            <input type="text" id="fish-location"> --}}
                            
                            <div class="google-maps-container">

                                <div id="map" onload="initialize()"></div>
                                <div id="latlong">
                                    <div>
                                        <label for ="latbox">Latitude:</label>
                                        <input size="20" type="text" id="latbox" name="lat">
                                    </div>

                                    <div>
                                        <label for="lngbox">Longitude:</label>
                                        <input size="20" type="text" id="lngbox" name="lng">
                                    </div>

                                </div>
                            </div>

                            <input type="submit" id="submit" value="Add Catch">
                            
                        </form>
                    </div>
                    
            </div>
        </div>
    </div>


<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsR_rdIwpy2ytdRAFoYmU1hlNCRcZd3e4&callback=initMap"></script>

  <script src="/js/googlemaps.js"></script>
  <script src="/js/dashboard.js"></script>
 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}